# Tensorflow with GPU

This notebook provides an introduction to computing on a [GPU](https://cloud.google.com/gpu) in Colab. In this notebook you will connect to a GPU, and then run some basic TensorFlow operations on both the CPU and a GPU, observing the speedup provided by using the GPU.

In [1]:
import sys
print(sys.executable)
print(sys.version)
print(sys.version_info)

C:\ProgramData\Anaconda3\python.exe
3.6.5 |Anaconda, Inc.| (default, Mar 29 2018, 13:32:41) [MSC v.1900 64 bit (AMD64)]
sys.version_info(major=3, minor=6, micro=5, releaselevel='final', serial=0)

In [1]:
import numpy as np
import pandas as pd

## Data Preprocessing.

In [13]:
ann=pd.read_csv('/Churn_Modelling_ANN.csv')
ann

      RowNumber  CustomerId    Surname  ...  IsActiveMember EstimatedSalary Exited
0             1    15634602   Hargrave  ...               1       101348.88      1
1             2    15647311       Hill  ...               1       112542.58      0
2             3    15619304       Onio  ...               0       113931.57      1
3             4    15701354       Boni  ...               0        93826.63      0
4             5    15737888   Mitchell  ...               1        79084.10      0
...         ...         ...        ...  ...             ...             ...    ...
9995       9996    15606229   Obijiaku  ...               0        96270.64      0
9996       9997    15569892  Johnstone  ...               1       101699.77      0
9997       9998    15584532        Liu  ...               1        42085.58      1
9998       9999    15682355  Sabbatini  ...               0        92888.52      1
9999      10000    15628319     Walker  ...               0        38190.78      0

[10000 rows x 14 columns]

In [14]:
X=ann.iloc[:,3:-1].values
y=ann.iloc[:,-1].values

In [15]:
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [16]:
print(y)

[1 0 1 ... 1 1 0]

In [17]:
ann

      RowNumber  CustomerId    Surname  ...  IsActiveMember EstimatedSalary Exited
0             1    15634602   Hargrave  ...               1       101348.88      1
1             2    15647311       Hill  ...               1       112542.58      0
2             3    15619304       Onio  ...               0       113931.57      1
3             4    15701354       Boni  ...               0        93826.63      0
4             5    15737888   Mitchell  ...               1        79084.10      0
...         ...         ...        ...  ...             ...             ...    ...
9995       9996    15606229   Obijiaku  ...               0        96270.64      0
9996       9997    15569892  Johnstone  ...               1       101699.77      0
9997       9998    15584532        Liu  ...               1        42085.58      1
9998       9999    15682355  Sabbatini  ...               0        92888.52      1
9999      10000    15628319     Walker  ...               0        38190.78      0

[10000 rows x 14 columns]

### Label Encoding.

In [19]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()

In [20]:
ann.Geography=enc.fit_transform(ann.Geography)
ann.Gender=enc.fit_transform(ann.Gender)
ann.Surname=enc.fit_transform(ann.Surname)

In [21]:
ann

      RowNumber  CustomerId  Surname  ...  IsActiveMember  EstimatedSalary  Exited
0             1    15634602     1115  ...               1        101348.88       1
1             2    15647311     1177  ...               1        112542.58       0
2             3    15619304     2040  ...               0        113931.57       1
3             4    15701354      289  ...               0         93826.63       0
4             5    15737888     1822  ...               1         79084.10       0
...         ...         ...      ...  ...             ...              ...     ...
9995       9996    15606229     1999  ...               0         96270.64       0
9996       9997    15569892     1336  ...               1        101699.77       0
9997       9998    15584532     1570  ...               1         42085.58       1
9998       9999    15682355     2345  ...               0         92888.52       1
9999      10000    15628319     2751  ...               0         38190.78       0

[10000 rows x 14 columns]

In [22]:
# One Hot Encoding for 'Geography'

In [23]:
ann.Geography

0       0
1       2
2       0
3       0
4       2
       ..
9995    0
9996    0
9997    0
9998    1
9999    0
Name: Geography, Length: 10000, dtype: int64

In [24]:
ann.Geography.value_counts()

0    5014
1    2509
2    2477
Name: Geography, dtype: int64

In [25]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [26]:
#col_trans=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[0])],remainder='passthrough')
#X=np.array(col_trans.fit_transform(X))

on_hot=OneHotEncoder()
#ann.Geography=on_hot.fit_transform(ann.Geography)

### Splitting Dataset into Training and Testing.

- In order to train your model on your data, convert it to a numpy array first with X_train.values and y_train.values since a Keras model accepts as input a numpy array and not a pandas dataset

In [28]:
X=ann.iloc[:,3:-1]
y=ann.iloc[:,-1]

In [29]:
X

      CreditScore  Geography  ...  IsActiveMember  EstimatedSalary
0             619          0  ...               1        101348.88
1             608          2  ...               1        112542.58
2             502          0  ...               0        113931.57
3             699          0  ...               0         93826.63
4             850          2  ...               1         79084.10
...           ...        ...  ...             ...              ...
9995          771          0  ...               0         96270.64
9996          516          0  ...               1        101699.77
9997          709          0  ...               1         42085.58
9998          772          1  ...               0         92888.52
9999          792          0  ...               0         38190.78

[10000 rows x 10 columns]

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=0,test_size=0.2)

# Building ANN.

In [33]:
# Feature Scaling.
## Feature scaling is absolutely compulsory for deep learning.

In [34]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [35]:
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)

# Initializing the ANN

### Adding the input layer, the first hidden layer, second hidden layer and the Output Layer.

In [37]:
import tensorflow as tf

In [38]:
# Sequential class is from 'keras models' module from keras library, which represents a class which initializes ANN to work as sequence of layers.
ann_seq=tf.keras.models.Sequential()


# How to know how many neurons are required for ANN? Its based on experimentations and by Hyper Parameters.

ann_seq.add(tf.keras.layers.Dense(units=6, activation='relu'))

# Adding 1st Input layer and Hidden layer using 'Dense' class. 
# Units: Units represents number of hidden layers, and Activation function is 'Relu'.

In [39]:
# Adding 2nd Layer with same number of units and activation function.

ann_seq.add(tf.keras.layers.Dense(units=6, activation='relu'))

In [40]:
# Adding Output Layer.

ann_seq.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Units here will 1 because we are having binary outcome which can take the outcome 1 or 0, where 1 neuron is sufficient to predict the class.
# Activation function for(binary) the output class we need to have 'Sigmoid Function' only; instead of 'Relu' because it allows to get ultimate predictions and also probabilities that binary outcome is 1.
# Activation function for non-binary is 'Softmax'

## Compiling the ANN.

In [41]:
# Compilation of ANN. 
# In complier we have to enter 3 parameters i.e 1.Optimizer,  2.Loss Function and 3.Metrics with S Parameter

# Adam Optimizer to get Stochastic Optimizer, Optimizer updates the weights through 'Stochastic Gradient Descent'.
# Loss function: For Binary classification it should be 'binary_ crossentropy' and for non-binary it should be 'categorical_crossentropy'
# Metrics: 'Accuracy'

In [42]:

ann_seq.compile(optimizer='adam' ,loss='binary_crossentropy', metrics=['accuracy'])

## Training the ANN.

In [43]:

# Method is fit method and including 'batch_size' and 'Epochs'
# Batch_size: NO of predictions we required to have in a batch when compared to same number of real results. 32 is default value
# Epochs :The number of epochs is a hyperparameter that defines the number times that the learning algorithm will work through the entire training dataset. 
# One epoch means that each sample in the training dataset has had an opportunity to update the internal model parameters. An epoch is comprised of one or more batches.

In [44]:
ann_seq.fit(X_train,y_train,batch_size= 32, epochs=100 )

Epoch 1/100
250/250 [==============================] - 1s 1ms/step - loss: 0.5834 - accuracy: 0.7135
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4585 - accuracy: 0.8008
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4475 - accuracy: 0.7935
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4378 - accuracy: 0.8030
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4247 - accuracy: 0.8130
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4257 - accuracy: 0.8055
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4289 - accuracy: 0.8013
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4116 - accuracy: 0.8123
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4022 - accuracy: 0.8204
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3816 - accuracy: 0.8430
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3806 - accuracy: 0.8408
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3675 - accuracy: 0.8473
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3567 - accuracy: 0.8517
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3524 - accuracy: 0.8501
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3525 - accuracy: 0.8537
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3498 - accuracy: 0.8546
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3460 - accuracy: 0.8553
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3480 - accuracy: 0.8579
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3466 - accuracy: 0.8552
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3380 - accuracy: 0.8576
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3409 - accuracy: 0.8605
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3477 - accuracy: 0.8549
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3362 - accuracy: 0.8630
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3421 - accuracy: 0.8569
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3439 - accuracy: 0.8574
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3452 - accuracy: 0.8600
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3447 - accuracy: 0.8623
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3457 - accuracy: 0.8607
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3449 - accuracy: 0.8567
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3422 - accuracy: 0.8620
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3468 - accuracy: 0.8597
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3572 - accuracy: 0.8520
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3446 - accuracy: 0.8587
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3391 - accuracy: 0.8593
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3375 - accuracy: 0.8610
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3373 - accuracy: 0.8601
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3306 - accuracy: 0.8632
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3377 - accuracy: 0.8638
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3324 - accuracy: 0.8653
Epoch 40/100
250/250 [==============================] - 0s 991us/step - loss: 0.3515 - accuracy: 0.8559
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3343 - accuracy: 0.8649
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3363 - accuracy: 0.8616
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3398 - accuracy: 0.8637
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3441 - accuracy: 0.8586
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3390 - accuracy: 0.8591
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3452 - accuracy: 0.8563
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3395 - accuracy: 0.8602
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3434 - accuracy: 0.8588
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3415 - accuracy: 0.8612
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3320 - accuracy: 0.8654
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3417 - accuracy: 0.8594
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3236 - accuracy: 0.8717
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3336 - accuracy: 0.8636
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3393 - accuracy: 0.8629
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3334 - accuracy: 0.8634
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3315 - accuracy: 0.8629
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3391 - accuracy: 0.8588
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3349 - accuracy: 0.8612
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3342 - accuracy: 0.8648
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3320 - accuracy: 0.8674
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3243 - accuracy: 0.8643
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3282 - accuracy: 0.8649
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3331 - accuracy: 0.8626
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3412 - accuracy: 0.8587
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3312 - accuracy: 0.8660
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3263 - accuracy: 0.8719
Epoch 67/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3366 - accuracy: 0.8639
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3399 - accuracy: 0.8590
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3330 - accuracy: 0.8642
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3316 - accuracy: 0.8639
Epoch 71/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3411 - accuracy: 0.8580
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3421 - accuracy: 0.8616
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3297 - accuracy: 0.8645
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3425 - accuracy: 0.8573
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3295 - accuracy: 0.8686
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3187 - accuracy: 0.8712
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3300 - accuracy: 0.8662
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3378 - accuracy: 0.8611
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3334 - accuracy: 0.8630
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3353 - accuracy: 0.8632
Epoch 81/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3334 - accuracy: 0.8625
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3294 - accuracy: 0.8651
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3297 - accuracy: 0.8672
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3318 - accuracy: 0.8636
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3246 - accuracy: 0.8694
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3349 - accuracy: 0.8620
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3337 - accuracy: 0.8613
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3298 - accuracy: 0.8639
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3341 - accuracy: 0.8599
Epoch 90/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3258 - accuracy: 0.8646
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3339 - accuracy: 0.8660
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3288 - accuracy: 0.8652
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3326 - accuracy: 0.8554
Epoch 94/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3344 - accuracy: 0.8650
Epoch 95/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3405 - accuracy: 0.8583
Epoch 96/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3223 - accuracy: 0.8733
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3319 - accuracy: 0.8656
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3357 - accuracy: 0.8581
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3276 - accuracy: 0.8663
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3313 - accuracy: 0.8683

## To predict by giving inputs:

In [1]:

## Geography:France, 
## Credit Score:600, 
## Gender: Male, 
## Age:40, 
## Tenure:3 years, 
## Balance:$60000, 
## Number of Products:2, 
## Does this customer have a credit card: Yes,
## Is this customer an Active Member: Yes,
## Estimated Salary: $50000
## So, Should we say goodbye to that customer?

# For Above values, To get predictions we have to enter scaled values.

print(ann_seq.predict(sc.transform([[1,600,1,40,3,6000,2,1,1,50000]])))

## Predicting the Test set Results.

In [56]:
y_predict=ann_seq.predict(X_test)

# Using Logistic Regression Condition below.
y_predict=(y_predict>0.5)

In [61]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm=confusion_matrix(y_test,y_predict)
cm

array([[1472,  123],
       [ 254,  151]])

In [62]:
print(cm)
print(accuracy_score(y_test,y_predict))

[[1472  123]
 [ 254  151]]
0.8115